<tr onclick="toggleInfoInRow(this)">
    <td class="code">
      {% if l.progress == "DN" %} 
        <i class="fas fa-circle-check" style="color: var(--main-color);" title="Сделано"></i>
      {% elif l.progress == "CH" %} 
        <i class="fas fa-circle-exclamation alert" title="Проверить!"></i>
      {% elif l.progress == "IP" %} 
        <i class="fas fa-circle" style="color: var(--main-color-l);" title="Начато"></i>
      {% elif l.progress == "NI" %} 
        <i class="fas fa-circle-xmark accent" title="Нет в Базе"></i>
      {% else %} 
        <i class="far fa-circle" style="color: var(--main-color-ll);" title="Не начато"></i>
      {% endif %}
      <p style="display: none;">{{l.progress}}</p>
    </td>
    <td class="lang">
      <div class="main-info">
        <a href='{{lang_url}}'>{{ l.name }}</a>
        {% if not l.genus %} <i class="fas fa-campground alert"></i>{% endif %}
        {% if not l.family %} <i class="fas fa-people-roof alert"></i>{% endif %}
      </div>
      <div class="dop-info">
        {% if not only_family %}
            <p><i class="fa-solid fa-campground"></i> {{ l.genus }}</p>
        {% endif %}
        {% if not only_genus %}
            <p><i class="fa-solid fa-people-roof"></i> {{ l.family }}</p>
        {% endif %}
        {% if not only_area %}
            <p><i class="fa-solid fa-compass"></i> {{ l.area }}</p>
        {% endif %}
      </div>
    </td>
    <td class="area">{% include "block/area_inline.html" %}</td>
    <td class="ts">
        {% if l.yes_marker %} 
        <p style="margin: 0;"> 
            {{l.yes_marker|slice:":-1"}} 
            <i class="fas fa-square-check" style="color: var(--main-color);" title="YES"></i>
        </p>
        {% endif %}
        {% if l.question_marker %} 
        <p style="margin: 0;"> 
            {{l.question_marker|slice:":-1"}}
            <i class="fas fa-circle-question accent" title="?"></i>
        </p>
        {% endif %}
        <div class="dop-info">
            <p><b>{{l.tense_system}}</b></p>
            <p>MM: {{l.mm}}</p>
            <p>MA: {{l.ma}}</p>
            <p>AM: {{l.am}}</p>
            <p>AA: {{l.aa}}</p>
        </div>
    </td>
    <td class="tb">
      {% for tb in l.theory_blocks.all %}
      <!-- <div> -->
        <a href="{% url 'fpt.theory.show' id=tb.id %}">{{tb}}</a>
      <!-- </div> -->
      {% endfor %}
    </td>
  </tr>