<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} BASE TEMPLATE {% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_image.css' %}">
  
    <script src="{% static 'js/dop-info.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
</head>

<body>
    
    {% block header %}
    <header>
        {% include 'top_nav.html' %}
    </header>
    {% endblock %}

    {% block content %}
    <main>ГЛАВНАЯ ЧАСТЬ</main>
    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}

</body>
</html>