<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} BASE TEMPLATE {% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_image.css' %}">
    <link rel="stylesheet" href="{% static 'css/texteditor.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageShow.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressBar.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/regular.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
</head>

<body>
    
    <header>
    {% block header %}
        {% include 'top_nav.html' %}
    {% endblock %}
    </header>

    <main>
        <div class="overlay" id="overlay" onclick="toggleLeftNav()"></div>
        <button class="sidebutton leftNavButton fas fa-bars" onclick="toggleLeftNav()"></button>
        <aside  id="leftnav">
        {% block aside %}
            {% include "left_nav.html" %}    
        {% endblock %}
        </aside>
        
        
        <div class="content">
            {% block content %} ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ {% endblock %}
        </div>
        
        {% block edit %}
          
        {% endblock %}
    </main>

    
    <footer>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    </footer>

    <script src="{% static 'js/dop-info.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/imageShow.js' %}"></script>
    {% block scripts %}
    <script></script>
    {% endblock %} 
</body>
</html>
