<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} BASE TEMPLATE {% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_image.css' %}">
  
    <script src="{% static 'js/dop-info.js' %}"></script>
    <script src="{% static 'js/lang.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
</head>

<body>
    
    <header>
    {% block header %}
        {% include 'top_nav.html' %}
    {% endblock %}
    </header>
    
    <main id="mainBlock">
        {% block aside %}
        <aside>
            {% include "left_nav.html" %}
        </aside>
        {% endblock %}
        
        {% block content %}
            <div class="content">ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ</div>
        {% endblock %}
    </main>

    
    <footer>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    </footer>

    {% block scripts %}
    <script></script>
    {% endblock %}
</body>
</html>