{% for field in comment.form %}
<div class="one-comment-div">
  <h6>Комментарий от admin</h6>

  {% if not user.is_anonymous %}
  <form method="post" id="{{field.html_name}}">
    {{ field }}
    <input type="hidden" name="comment_was_edited" />
    {% csrf_token %}
  </form>
  {% else %}
  <div><pre class="comment">{{comment.c.comment}}</pre></div>
  {% endif %}

  <div class="images-div">
    {% for img in comment.images %}
      {% include 'block/image.html' %}
    {% endfor %}
    {% if not user.is_anonymous %}
    <form method="post" class="add-image-form" id="{{field.html_name}}-image">
      <input type="file" accept="image/*" name="{{field.html_name}}">
      <input type="hidden" name="add_image" />
      <button type="button" class="add-image-button" onclick="postAddImage(this)">upload</button>
      {% csrf_token %}
    </form>
    {% endif %}
  </div>
</div>
{% endfor %}