{% extends 'base.html' %}
{% block title %}Типология будущего в прошедшем{% endblock %}
{% block aside %}{% endblock %}


{% block content %}

  <h1 class="title">Типология будущего в прошедшем</h1>
  <hr>
  <div class="comment">
    <p>
      Меня зовут <b>Ксения Вадимовна Еремченко</b>, я учусь на 3 курсе ФиПЛ РГГУ. <br>
    </p>
    <p>
      В данный момент я работаю над исследованием типологии будущего времени в прошедшем.
    </p>
    <ul>
      <li>
        Сводную таблицу с анализом материала можно посмотреть<a href="{% url 'fpt.summary' %}">тут</a>.
      </li>
      <li>
        Теоретический бэкграунд исследования можно найти<a href="{% url 'fpt.theory' %}">тут</a>.
      </li>
      <li>
        Статистические данные находится<a href="{% url 'fpt.statistics' %}">тут</a>.
      </li>
    </ul>
  </div>

{% endblock %}
