{% extends 'base.html' %}

{% block title %}
{{ cur_lang }}
{% endblock %}


{% block content %}
  <h1 class="title" onclick="toggleInfoInH1(this)">
    <p>Язык {{cur_lang.name}}</p>
    <div class="dop-info">
      <table>
        <thead>
          <tr>
            <th>Род</th>
            <th>Семья</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href='{% url "fpt.genus" %}?name={{cur_lang.genus.name}}'>
                {{cur_lang.genus.name}}
              </a>
            </td>
            <td>
              <a href='{% url "fpt.family" %}?name={{cur_lang.family.name}}'>
                {{cur_lang.family.name}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </h1>

  <table class="language-info">
    <thead>
      <tr>
        <th class="">Система времён</th>
        <th class="">FUT</th>
        <th class="">PST</th>
        <th class="">мрф-мрф</th>
        <th class="">анл-мрф</th>
        <th class="">мрф-анл</th>
        <th class="">анл-анл</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.tense_system}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.ts }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.fut}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.fut }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.pst}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.pst }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.mm}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.mm }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.am}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.am }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.ma}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.ma }}</form>{% endif %}
        </td>
        <td class="">
          {% if user.is_anonymous %} {{cur_lang.aa}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.aa }}</form>{% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="main-comment-div">
    <h6><i class="fas fa-terminal"></i> главный</h6>
    {% if not user.is_anonymous %}
    <form method="post" id="main_comment">{% csrf_token %}{{ forms.main_comment }}</form>
    {% else %}
    <div>
      <pre class="comment main">{{cur_lang.main_comment}}</pre>
    </div>
    {% endif %}
  </div>

  <hr>  
  <div id="all_theory_blocks">
    {% for theory_block in theory_blocks %}
    <div class="theoryBlock">
      <h6 onclick="theoryBlockToggle(this)">
        <i class="fas fa-brain"></i> 
        {{theory_block.title}} 
        <i class="fas fa-eye-slash"></i>
      </h6>
      <div class="theory outline"> {{theory_block.outline|safe}}
        <div class="link">
          <a href="{% url 'fpt.theory.view' %}?id={{theory_block.id}}">
            Читать продолжение в источнике...
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr>  
  <div id="all_comments">
    {% for comment in forms.comments %}
    {% include 'comment_form.html' %}
    {% endfor %}
  </div>

  {% if not user.is_anonymous %}
  <form method="POST" id="add_comment_form">
    {% csrf_token %}
    <input type="hidden" name="add_comment" />
    <div>
      <button type="button" class="add-comment-button" onclick="postAddComment(this)">+</button>
    </div>
  </form>
  {% endif %}
{% endblock %}


{% block scripts %}
<script>
  main();
</script>
{% endblock %}