{% extends 'base.html' %}

{% block title %}
{{ cur_lang }}
{% endblock %}


{% block content %}
<div class="page">
  {% include "nav_by_code.html" with list=lang_list %}
  <div class="content">
    <h1 onclick="toggleInfoInH1(this)">
      Язык {{cur_lang.name}}
      <div class="dop-info">
        <table class="home">
          <thead>
            <tr>
              <th class="code">Код</th>
              <th class="code">Семья</th>
              <th class="code">Род</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="code">{{cur_lang.code}}</td>
              <td class="code">
                <a href='../family?name={{cur_lang.family}}'>
                  {{cur_lang.family}}
                </a>
              </td>
              <td class="code">
                <a href='../genus?name={{cur_lang.genus}}'>
                  {{cur_lang.genus}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </h1>
    <table class="home">
      <thead>
        <tr>
          <th class="ts">Система времён</th>
          <th class="tm">FUT</th>
          <th class="tm">PST</th>
          <th class="comb">мрф-мрф</th>
          <th class="comb">анл-мрф</th>
          <th class="comb">мрф-анл</th>
          <th class="comb">анл-анл</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ts">
            {% if user.is_anonymous %} {{cur_lang.tense_system}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.ts }}</form>{% endif %}
          </td>
          <td class="tm">
            {% if user.is_anonymous %} {{cur_lang.fut}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.fut }}</form>{% endif %}
          </td>
          <td class="tm">
            {% if user.is_anonymous %} {{cur_lang.pst}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.pst }}</form>{% endif %}
          </td>
          <td class="comb">
            {% if user.is_anonymous %} {{cur_lang.mm}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.mm }}</form>{% endif %}
          </td>
          <td class="comb">
            {% if user.is_anonymous %} {{cur_lang.am}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.am }}</form>{% endif %}
          </td>
          <td class="comb">
            {% if user.is_anonymous %} {{cur_lang.ma}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.ma }}</form>{% endif %}
          </td>
          <td class="comb">
            {% if user.is_anonymous %} {{cur_lang.aa}}
            {% else %}<form method="post">{% csrf_token %}{{ forms.aa }}</form>{% endif %}
          </td>
        </tr>
      </tbody>
    </table>


    {% if not user.is_anonymous %}
    <form method="post" id="main_comment">{% csrf_token %}{{ forms.main_comment }}</form>
    {% else %}
    <div>
      <pre class="comment main">{{cur_lang.main_comment}}</pre>
    </div>
    {% endif %}

    {% if forms.comments %}
    <button class="img-zoom-btn" onclick="toggleImageZoom(this)">zoom ❎</button>
    {% endif %}

    <div id="all_comments">
      {% for comment in forms.comments %}
      <div>
        {% include 'comment_form.html' with comment=comment user=user%}
      </div>
      {% endfor %}
    </div>

    {% if not user.is_anonymous %}
    <form method="POST" id="add_comment_form">
      {% csrf_token %}
      <input type="hidden" name="add_comment" />
      <div><button type="button" class="add-comment-button" onclick="postAddComment(this)">+</button></div>
    </form>
    {% endif %}
  </div>
  <div class="test"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  main();
</script>
{% endblock %}