{% extends 'base.html' %}

{% block title %}
{{ cur_lang }}
{% endblock %}


{% block content %}
  <h1 class="title">
    <p onclick="toggleInfoInH1(this.parentElement)">Язык {{cur_lang.name}}</p>
    <div class="dop-info">
      <table>
        <thead>
          <tr>
            <th style="width: 33%;">Род</th>
            <th style="width: 33%;">Семья</th>
            <th style="width: 33%;">Макро-ареал</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% if cur_lang.genus %}
              <a href='{% url "fpt.genus" cur_lang.genus.id %}'>{{cur_lang.genus}}</a>
              {% else %} {{cur_lang.genus}} {% endif %}
            </td>
            <td>
              {% if cur_lang.family %}
              <a href='{% url "fpt.family" cur_lang.family.id %}'>{{cur_lang.family}}</a>
              {% else %} {{cur_lang.family}} {% endif %}
            </td>
            <td>
              {% if not user.is_superuser %}
                {% if cur_lang.area %}<a href='{% url "fpt.area" cur_lang.area.id %}'>{{cur_lang.area}}</a>
                {% else %}<i class="fas fa-compass" style="color: brown;"></i>
                {% endif %}
              {% else %}
                <form method="post">{% csrf_token %}{{ forms.area }}</form> 
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </h1>

  <table class="language-info">
    <thead>
      <tr>
        <th>Система времён</th>
        <th>FUT</th>
        <th>PST</th>
        <th>мрф-мрф</th>
        <th>анл-мрф</th>
        <th>мрф-анл</th>
        <th>анл-анл</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ts">
          {% if not user.is_superuser %} {{cur_lang.tense_system}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.ts }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.fut}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.fut }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.pst}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.pst }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.mm}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.mm }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.am}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.am }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.ma}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.ma }}</form>{% endif %}
        </td>
        <td>
          {% if not user.is_superuser %} {{cur_lang.aa}}
          {% else %}<form method="post">{% csrf_token %}{{ forms.aa }}</form>{% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="main-comment-div">
    <h6><i class="fas fa-terminal"></i> главный</h6>
    {% if user.is_superuser %}
    <form method="post" id="main_comment">{% csrf_token %}{{ forms.main_comment }}</form>
    {% else %}
    <div>
      <pre class="comment main">{{cur_lang.main_comment}}</pre>
    </div>
    {% endif %}
  </div>

  <div id="all_theory_blocks">
    {% include 'block/theory_blocks.html' %}
  </div>

  <hr>  

  <div id="all_comments">
    {% for comment in forms.comments %}
    {% include 'comment_form.html' %}
    {% endfor %}
  </div>
  
  {% include 'block/sources.html' %}

  {% if user.is_superuser or not perms.accounts.black_list and not user.is_anonymous %}
  <form method="POST" id="add_comment_form">
    {% csrf_token %}
    <input type="hidden" name="add_comment" />
    <div>
      <button type="button" class="add-comment-button" onclick="postAddComment(this)">+</button>
    </div>
  </form>
  {% endif %}
{% endblock %}


{% block edit %}
  {% if user.is_superuser %}
  <a class="sidebutton addTheoryButton fas fa-brain" onclick="toggleTheoryBlocksOverlay()"></a>
  <div id="theoryBlocksBack" onclick="toggleTheoryBlocksOverlay()"></div>
  <div id="theoryBlocksDiv">
    <form method="post" id="theoryBlocksForm">
      {% csrf_token %}
      {{forms.theory_blocks}}
      <!-- <button type="submit" value="add-theory" class="fas fa-floppy-disk"></button> -->
      <input type="hidden" name="theory_blocks">
    </form>
    <button class="fas fa-floppy-disk" onclick="postTheoryBlocks(this)"></button>
  </div>
  <div class="sidediv progressSelect">
    <form method="post">{% csrf_token %}{{ forms.progress }}</form>
  </div>
  {% endif %}
{% endblock %}


{% block scripts %}
<script>
  main();
</script>
{% endblock %}