<nav class="left-nav">    
    <div class="left-nav-container A">
        <div class="summary"><i class="fas fa-language"></i> Языки</div>
        <ul>
        {% for i in languages %}
            <li>
                <a href='{% url "fpt.language" %}?code={{i.code}}'>{{ i.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="left-nav-container B">
        <div class="summary"><i class="fas fa-campground"></i> Рода</div>
        <ul>
        {% for i in genuses %}
            <li>
                <a href='{% url "fpt.genus" %}?name={{i.name}}'>{{ i.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
        
    <div class="left-nav-container C">
        <div class="summary"><i class="fas fa-people-roof"></i> Семьи</div>
        <ul>
        {% for i in families %}
            <li>
                <a href='{% url "fpt.family" %}?name={{i.name}}'>{{ i.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
