<nav class="top-nav">
    <li>
        <ul>
            <a href="{% url 'fpt' %}">
                <i class="fas fa-caret-left"></i> К исследованию
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.summary' %}">
                <i class="fas fa-table"></i> Сводная таблица
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.analysis' %}">
                <i class="fas fa-magnifying-glass-chart"></i> Анализ
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.statistics' %}">
                <i class="fas fa-chart-pie"></i> Статистика
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.theory' %}">
                <i class="fas fa-brain"></i> Теория
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.biblio' %}">
                <i class="fas fa-book"></i> Библиография
            </a>
        </ul>
    </li>
    <li>
        <ul>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
                <i class="fas fa-circle-user"></i> {{ user.username }}
            </a>
        </ul>
        <ul>
            <a href="{% url 'logout' %}">
                <i class="fas fa-right-from-bracket"></i>
            </a>
        {% else %}
            <a href="{% url 'registration' %}">
                <i class="fas fa-address-card"></i> Регистрация
            </a>
        </ul>
        <ul>
            <a href="{% url 'login' %}">
                <i class="fas fa-right-to-bracket"></i> Войти
            </a>
        {% endif %}
        </ul>
    </li>
</nav>