<nav class="top-nav">
    <li>
        <ul>
            <a href="{% url 'fpt' %}">
                <i class="fas fa-caret-left"></i> К исследованию
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.summary' %}">
                <i class="fas fa-table"></i> Сводная таблица
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.statistics' %}">
                <i class="fas fa-chart-pie"></i> Статистика
            </a>
        </ul>
        <ul>
            <a href="{% url 'fpt.theory' %}">
                <i class="fas fa-brain"></i> Теория
            </a>
        </ul>
    </li>
</nav>