<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KVE DataBank</title>
</head>
<body>
    <p>Скоро тут тоже будет красиво</p>
    <p>
        {% if user.is_anonymous %}
            Вы не зарегистрированы (пока редактировать могут только администраторы)
        {% else %}
            Добро пожаловать, {{user.username}}
        {% endif %}
    </p>
    <a href="{% url 'fpt.summary' %}">К текущему исследованию (Типология будущего в прошедшем)</a>
</body>
</html>