.images-div {
    display: flex;
    flex-wrap: wrap;
    >img {
        height: min-content;
        cursor: zoom-in;
    }
}

.imageBase {
    width: 10%;
    height: auto;
}

.modalContainer{
    position: fixed;
    top: var(--top-nav-h);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
    cursor: zoom-out;
}
.imageOver{
    display: block;
    position: fixed;
    top: calc(var(--top-nav-h) + 5vh);
    left: 50%;
    transform: translate(-50%, 0);
    
    max-width: 80vw;
    max-height: calc(80vh - var(--top-nav-h));
    z-index: 2;
    border-radius: 16px;
    border: 4px solid var(--secondery-color-d);
}

.modalContainer.active {
    visibility: visible;
    opacity: 1;
}

.deleteImageButton {
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, 0);

    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 2px solid brown;
    background-color: var(--secondery-color);
}
.deleteImageButton:hover {
    background-color: brown;
    color: white
}