@import "base.css";
@import "left-nav.css";



/* HEADINGS */
h1.title {
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background-color: var(--main-color);
    color: white;
    p {
        font-size: 0.9em;
        margin: 8px 0px;
        cursor: pointer;
    }
    .dop-info {
        font-size: 0.5em;
        padding: 0;
        color: var(--main-text-color-ll);
        display: none;
        align-self: center;
        table {
            width: 100%;
            margin-top: 8px;
            border-collapse: collapse;
            text-align: center;
            padding: 4px;
            thead tr {
                background-color: var(--secondery-color-dd);
                th {padding: 4px;}
                th:first-child {
                    border-top-left-radius: 8px;
                }
                th:last-child {
                    border-top-right-radius: 8px;
                }
            }
            tbody tr {
                background-color: var(--secondery-color);
                font-weight: normal;
                td:first-child {
                    border-bottom-left-radius: 8px;
                }
                td:last-child {
                    border-bottom-right-radius: 8px;
                }
                td {
                    padding: 4px;
                    a {color: var(--main-text-color-ll)}
                    a:hover {color: white}
                }
            }
        }
    }
}

table.language-info {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    thead tr {
        background-color: var(--secondery-color-dd);
        font-weight: bold;
        th {padding: 4px;}
        th:first-child {border-top-left-radius: 8px;}
        th:last-child {border-top-right-radius: 8px;}
        th:nth-child(2) {border-left: 3px solid var(--main-color);}
        th:nth-child(3) {border-right: 3px solid var(--main-color);}
    }
    tbody tr {
        background-color: var(--secondery-color);
        td:first-child {border-bottom-left-radius: 8px;}
        td:last-child {border-bottom-right-radius: 8px;}
        td:nth-child(2) {border-left: 3px solid var(--main-color);}
        td:nth-child(3) {border-right: 3px solid var(--main-color);}
        td {
            padding: 4px;
            max-width:10vw;
        }
    }
    .select-in-table {
        /* font-size: 0.9em; */
        border-radius: 16px;
        border: var(--main-color-d) solid 2px;
        padding: 2px 8px;
        /* max-width: 100%; */
    }
    .select-in-table:hover {
        background-color: var(--main-color-dd);
        color: white;
    }
}


.main-comment-div {
    margin-bottom: 40px;
    h6 {
        color: var(--main-text-color-ll);
        margin: 16px 8px 0px;
    }
    .comment {
        margin: 0px;
    }
}
.one-comment-div {
    h6 {
        color: var(--main-text-color-ll);
        margin: 8px 8px 0px;
    }
    .comment {
        margin: 0px;
    }
}
