@import "base.css";
@import "left-nav.css";


/* MAIN */

footer {
    background-color: var(--main-color-d);
    text-align: center;
    color: white;
    padding: 1%;
    margin-top: auto;
}
main {
    width: 100%;
}
hr {
    margin: 32px 8px 24px;
    border: none;
    border-top: 4px dotted var(--secondery-color-dd);
}

/* LEFT NAVIGATION BAR */
.left-nav summary {
    border-radius: 8px;
    background-color: var(--secondery-color-dd);
    color: var(--main-text-color);
    padding: 4px 8px;
}
.left-nav ul {
    padding-inline-start: 0px;
    max-height: 25vh;
    overflow-y: auto;
    margin: 0px var(--border-width);
}
.left-nav li {
    list-style-type: none;
    display: flex;
}
.left-nav a {
    color: var(--main-text-color-ll);
    flex: 1;
}
.left-nav a:hover {
    background-color: var(--secondery-color-d);
    color: var(--main-text-color-ll)
}

/* HEADINGS */
h1.title {
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background-color: var(--main-color);
    color: white;
    p {
        font-size: 0.9em;
        margin: 8px 0px;
        cursor: pointer;
    }
    .dop-info {
        font-size: 0.5em;
        padding: 0;
        color: var(--main-text-color-ll);
        display: none;
        align-self: center;
        table {
            width: 100%;
            margin-top: 8px;
            border-collapse: collapse;
            text-align: center;
            padding: 4px;
            thead tr {
                background-color: var(--secondery-color-dd);
                th {padding: 4px;}
                th:first-child {
                    border-top-left-radius: 8px;
                }
                th:last-child {
                    border-top-right-radius: 8px;
                }
            }
            tbody tr {
                background-color: var(--secondery-color);
                font-weight: normal;
                td:first-child {
                    border-bottom-left-radius: 8px;
                }
                td:last-child {
                    border-bottom-right-radius: 8px;
                }
                td {
                    padding: 4px;
                    a {color: var(--main-text-color-ll)}
                    a:hover {color: white}
                }
            }
        }
    }
}

h6 {
    color: var(--main-text-color-ll);
    margin: 8px 8px 0px;
}

table.language-info {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    thead tr {
        background-color: var(--secondery-color-dd);
        font-weight: bold;
        th {padding: 4px;}
        th:first-child {border-top-left-radius: 8px;}
        th:last-child {border-top-right-radius: 8px;}
        th:nth-child(2) {border-left: 3px solid var(--main-color);}
        th:nth-child(3) {border-right: 3px solid var(--main-color);}
    }
    tbody tr {
        background-color: var(--secondery-color);
        td:first-child {border-bottom-left-radius: 8px;}
        td:last-child {border-bottom-right-radius: 8px;}
        td:nth-child(2) {border-left: 3px solid var(--main-color);}
        td:nth-child(3) {border-right: 3px solid var(--main-color);}
        td {
            padding: 4px;
            max-width:10vw;
        }
    }
    .select-in-table {
        /* font-size: 0.9em; */
        border-radius: 16px;
        border: var(--main-color-d) solid 2px;
        padding: 2px 8px;
        /* max-width: 100%; */
    }
    .select-in-table:hover {
        background-color: var(--main-color-dd);
        color: white;
    }
}


.main-comment-div {
    margin-bottom: 16px;
    h6 {margin-top: 16px;}
    .comment {margin: 0px;}
}
.one-comment-div {
    h6 {
        color: var(--main-text-color-ll);
        margin: 8px 8px 0px;
    }
    .comment {
        margin: 0px;
    }
}


.theoryBlock {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    --anim-dur: 0.4s ease-in-out;

    h6 {
        cursor: pointer;
        font-size: 1em;
        transition: font-size var(--anim-dur);
    }
    .outline {
        padding: 0;
        font-size: 0;
        opacity: 0;
        max-height: 0;
        overflow-y: auto;   
        transition: 
            padding var(--anim-dur),
            font-size var(--anim-dur),
            opacity var(--anim-dur),
            max-height var(--anim-dur);
    }
}
.theoryBlock.active{
    h6 {font-size: var(--h6-size);}
    .outline {
        padding: 8px;
        font-size: 1em;
        opacity: 1;
        max-height: 33vh;
    }
}

#theoryBlocksBack{
    position: fixed;
    left: 0;
    right: 0;
    top: var(--top-nav-h);
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 1;
}
#theoryBlocksBack.active{
    visibility: visible;
}
#theoryBlocksDiv {
    position: fixed;
    width: 20vw;
    left: 100vw;
    top: var(--top-nav-h);
    bottom: 0;
    visibility: hidden;
    z-index: 2;
    transition: left 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 8px;
    background-color: var(--secondery-color);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    button {
        margin: 8px;
        width: 32px;
        height: 32px;
        background-color: var(--secondery-color);
        border-radius: 8px;
        border: 2px solid var(--main-color-dd);
        color: var(--main-color-dd);
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    button:hover {
        background-color: var(--main-color-dd);
        color: white;
    }
}
#theoryBlocksDiv.active{
    left: calc(80vw - 16px);
    visibility: visible;
}
#theoryBlocksForm fieldset {
    border-radius: 8px;
    border: 3px solid var(--secondery-color-dd);
    max-height: 80%;
    overflow-y: auto;
}
