{% extends 'base.html' %}

{% block title %}
Редактирование теоретического блока
{% endblock %}

{% block aside %}
    {% include "theory/left_nav.html" %}
{% endblock %}


{% block content %}
  
{% if not user.is_anonymous %}
  <h1 class="title">
    <div contenteditable="plaintext-only"  onblur="postTextFromEditor(this)">{{forms.title.title.value}}</div>
    <form method="post">
      {% csrf_token %}
      {{forms.title.title}}
    </form>
  </h1>

  <hr><h6>Outline</h6>
  {% include 'block/texteditor.html' with form=forms.outline.outline %}
  
  <hr><h6>Основной текст</h6>
  {% include 'block/texteditor.html' with form=forms.text.text %}
{% else %}
  <h1 class="title">403 Forbidden</h1 class="title">
  <h6>Только зарегестрированные пользователи могут редактировать теоретические блоки.</h6>
{% endif %}
{% endblock %}

{% block edit %}
  <a class="sidebutton editButton fas fa-floppy-disk" 
      href="{% url 'fpt.theory.view' %}?id={{theory_block.id}}"></a>
  <a class="sidebutton deleteButton fas fa-trash" 
      href="{% url 'fpt.theory.delete' %}?id={{theory_block.id}}"></a>
  {% include 'block/texteditor-toolbar.html' %}
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'js/texteditor.js' %}"></script>
{% endblock %}