{% extends 'base.html' %}

{% block title %}
Теоретический блок - {{theory_block.title}}
{% endblock %}

{% block aside %}
    {% include "theory/left_nav.html" %}
{% endblock %}


{% block content %}
  <h1 class="title">{{theory_block.title}}</h1 class="title">
  <h6>Outline</h6>
  <div class="theory outline"> {{theory_block.outline|safe}}</div>
  <div class="theory text"> {{theory_block.text|safe}}</div>
{% endblock %}

{% block edit %}
  <a class="sidebutton editButton fas fa-pen-nib" 
      href="{% url 'fpt.theory.edit' %}?id={{theory_block.id}}"></a>
{% endblock %}