<table class="home">
    <thead>
      <tr>
        <th class="code">Код</th>
        <th class="lang">{% include "block/sort_button.html" with az=1 %}Язык</th>
        <th class="ts">{% include "block/sort_button.html" %}Система времён</th>
        <th class="tm">{% include "block/sort_button.html" %}FUT</th>
        <th class="tm">{% include "block/sort_button.html" %}PST</th>
        <th class="comb">{% include "block/sort_button.html" %}мрф-мрф</th>
        <th class="comb">{% include "block/sort_button.html" %}анл-мрф</th>
        <th class="comb">{% include "block/sort_button.html" %}мрф-анл</th>
        <th class="comb">{% include "block/sort_button.html" %}анл-анл</th>
      </tr>
    </thead>
    <tbody class="home">
      {% for l in languages %}
      {% url 'fpt.language' as lang_url %}
      <tr onclick="toggleInfoInRow(this)">
        <td class="code">{{l.code}}</td>
        <td class="lang">
          <a href='{{lang_url}}?code={{l.code}}'>{{ l.name }}</a>
          <div class="dop-info">
            {% if not only_family %}
                <p><i class="fa-solid fa-campground"></i> {{ l.genus }}</p>
            {% endif %}
            {% if not only_genus %}
                <p><i class="fa-solid fa-people-roof"></i> {{ l.family }}</p>
            {% endif %}
          </div>
        </td>
        <td class="ts">{{l.tense_system}}</td>
        <td class="tm">{{l.fut}}</td>
        <td class="tm">{{l.pst}}</td>
        <td class="comb">{{l.mm}}</td>
        <td class="comb">{{l.am}}</td>
        <td class="comb">{{l.ma}}</td>
        <td class="comb">{{l.aa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>