<table class="home">
    <thead>
      <tr>
        <th class="code">ID</th>
        <th class="title">{% include "block/sort_button.html" with az=1 %}Заголовок</th>
        <th class="langs">{% include "block/sort_button.html" %}Языки</th>
      </tr>
    </thead>
    <tbody class="home">
      {% for tb in theory_blocks %}
      {% url 'fpt.theory.show' id=tb.id as tb_url %}
      <tr onclick="toggleInfoInRow(this)">
        <td class="code">{{tb.id}}</td>
        <td class="title">
          <a href='{{tb_url}}'>{{ tb.title }}</a>
          <div class="dop-info">
            <p>{{ tb.outline|safe }}</p>
          </div>
        </td>
        <td class="langs">
          {{ tb.languages.count }}
          <div class="dop-info">
            {% for l in tb.languages.all %}
            <div><a href="{% url 'fpt.language' code=l.code %}">{{l}}</a></div>
            {% endfor %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>