{% extends "base.html" %}
{% block title %}Статистика{% endblock title %}
{% block aside %}{% endblock aside %}


{% block content %}

<h1 class="title">Статистические данные</h1>

<h2>Прогресс анализа</h2>

<h5>Временная система</h5>
{% include 'block/progress_bar.html' with param=ts %}

<h5>Временные показатели</h5>
{% include 'block/progress_bar.html' with param=marks %}

<h5>Комбинации показателей</h5>
{% include 'block/progress_bar.html' with param=combs %}

<h5>Главный комментарий</h5>
{% include 'block/progress_bar.html' with param=main_comment %}

{% endblock content %}